* {
	font-family: arial, sans-serif;
	color: #545454;
}

html,
body {
	margin: 0;
	height: 100%;
}

.wrapper {
	display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper.indexPage {
	justify-content: center;
}

.mainSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainSection .searchContainer {
    width: 100%;
}

.mainSection .searchContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchContainer .searchButton {
	color: #000;
    background-color: #ffdb4d;
    border: none;
    height: 36px;
    width: 88px;
    border-radius: 1px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    line-height: 36px;
}

.mainSection .searchContainer .searchBox {
	border: 2px solid #ffdb4d;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 36px;
    border-radius: 2px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 70%;
    max-width: 630px;
    color: #000;
}

.mainSection .logoContainer {
	width: 320px;
	text-align: center;
}

.logoContainer img {
	width: 100%;
}

.header {
	background-color: #fff;
	border-bottom: 1px solid #E5E5E5;
}

.wrapper .headerContent {
	display: flex;
	align-items: center;
}

.headerContent .logoContainer {
	width: 150px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.headerContent .searchContainer {
	flex: 1;
}

.headerContent .searchContainer form {
	margin: 15px 0 28px 0;
}























